body{
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
}
.contenaire_general{
    width: 60%;
    box-sizing: border-box;
    margin-left: 20%;
    display: grid;
    grid-template-columns:1fr 1fr  ;
    grid-template-rows: 40% 1fr;
    padding-top: 5%;
   
   
}
.premier_block{
    box-sizing: border-box;
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: 5%;
    background-color: white;
    
}
.premier_block h2{
    color: hsl(179, 62%, 43%);
}
.premier_block h3{
    color: hsl(71, 73%, 54%);
}
.premier_block p{
    color: #b2b9c5;
}
.child_1{
    box-sizing: border-box;
    grid-column: 1;
    grid-row:2;
    padding: 9%;
    background-color: hsl(179, 62%, 43%);
    height: 100%;
    
}
.child_1 p{
    margin-left: 5%;
    color: aliceblue;
}
.child_1 h3{
    margin-left: 5%;
    color: aliceblue;
}
.child_1 span{
    margin-left: 5%;
    color: aliceblue;
}
.child_1 {
}
.child_2{
   
    opacity: 0.7;
    box-sizing: border-box;
    grid-column: 2;
    grid-row:2;
    padding: 9%;
    background-color:hsl(179, 62%, 43%);
    height: 100%;
}
.child_2 p{
   opacity: 0.8;
    color: aliceblue;
    line-height: 150%;
}
.child_2 h3{
    color: aliceblue;
}
button{
    padding: 5%;
    padding-right: 40%;
    padding-left: 40%;
    margin-left: 5%;
    
    background-color: hsl(71, 73%, 54%);
    border-radius: 10px;
    border:none;
}
@media (max-width:740px){
    .contenaire_general{
        width: 80%;
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows: 3fr;
    grid-template-areas:  "premier_block"
                            "child_1"
                            "child_2";
    }
    .premier_block{
        margin-left: -6%;
        width: 90%;
        grid-column: 1;
        grid-row: 1;
        
        
    }
    .child_1{
        margin-left: -6%;
        width: 90%;
        grid-column: 1;
        grid-row: 2;
    }
    .child_2{
        margin-left: -6%;
        width: 90%;
        grid-column: 1;
        grid-row: 3;
    }
}