html{
    background-color: gainsboro;

}

body{
    width: 80%;
    height: 800px;
    margin: 40px AUTO;
    padding: 20px;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: hsl(234, 12%, 34%);
    text-align: center;   
}
p, span{color: hsl(229, 6%, 66%);}

section{
    height: 550px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3%;
}
.card{
    background-color: white;
    width: 90%;
    height: 235px;
    text-align: left;
    padding: 5px 20px;
    box-shadow: 2px 5px 10px hsl(229, 6%, 66%);
}
#card1{
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    grid-area: 1/1;
}
#card2{
    border-top: 5px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    grid-area: 1/2;


}
#card3{
    border-top: 5px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    grid-area: 2/2;

}
#card4{
    border-top: 5px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    grid-area: 1/3;
    
}

#card1, #card4{
    grid-row: 1 /span 2;
    margin-top: 150px;

}

.card footer{
    text-align: right;
}
img{
    width: 20%;
    margin-top: 10%;
}

@media screen and (max-width: 700px){

    body{
        height: 1350px;
        margin: 0 auto;
    }
  
    section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"card1"
                        "card2"
                        "card3"
                        "card4" 
    }

    #card1{
        grid-area: card1;
    }
    #card2{
        grid-area: card2;
    }
    #card3{
        grid-area: card3;
    }
    #card4{
        grid-area: card4;
    }
    #card1, #card4{
        margin-top: 0;
    }
    .card{
        height: 250px;
         
}





