body{
    font-size: 16px;
    font-family: 'karla';
    line-height: 1.5em;
    background-color: hsl(204, 43%, 93%);
}
a{
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.589);
    font-weight: 100;
    line-height: 1.5;}
ul{list-style: none; padding: 0;}
#box1 h2{ color: hsl(179, 62%, 43%);}
#box1 h3{ color: hsl(71, 73%, 54%);}
#box2 span{ font-size: 30px; color: white;}
#box2 p{ color: rgba(255, 255, 255, 0.836);}
#box2 h4{font-weight: 100; color: rgba(255, 255, 255, 0.438);}



input{
    background-color: hsl(71, 73%, 54%);
    color: white;
    width: 80%;
    height: 45px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 5px 10px hsl(179, 87%, 27%);
    margin: 30px 30px;
}

.section{
    width: 375px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

}
.box{
    height: 250px;
    padding: 10px 30px;

}
#box1{
    background-color: white;
    color: hsl(218, 22%, 67%);
    grid-row: 1/2;
    border-radius: 10px 10px 0 0;

}
#box2{
    background-color: hsl(179, 62%, 43%);
    color: white;
    grid-row:2/3;
}
#box3{
    color:white;
    background-color:hsla(179, 62%, 43%, 0.822);
    grid-row: 3/4;
    border-radius: 0 0 10px 10px;

}

@media screen and (min-width: 1000px){
    .section{
        width: 700px;
        margin: 100px auto ;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40% auto;
    }
    #box1{
        grid-row: 1/2 ;
        grid-column: 1 /span 3;
    }
    #box2{
        grid-row: 2/3 ;
        grid-column: 1/2;
        border-radius: 0 0 0 10px;

    }
    
    #box3{
        grid-row: 2/3 ;
        grid-column:2/3;
        border-radius: 0 0 10px 0;

    }
}
